
	<h1 id="employer"> 
  {{#each campaigns}}
    {{employer}}</h1>

	<!--City, State-->
	<p id="location" class="employer-body"> <em>{{city}}, {{state}}</em></p>
	<!--Industry-->
	<p id="industry" class="employer-body">{{industry}}</p>
	<!--List of concerns-->
	<li id="concern-list" class="employer-body">Wages</li>
	<li id="concern-list" class="employer-body">Racial haEquality</li>
	<li id="concern-list" class="employer-body">Working Conditions</li>
	<li id="concern-list" class="employer-body">Benefits</li>
	<!--Message to colleagues-->
	<p id="messagetocolleagues" class="employer-body">This is some corens I have about working for Chicago Chater schools. Blah blah ablah sufhds afyhsdfu sdfhusf asf dfuy sadhbf uyfa sdbsdfyghjshadf iushda fsdfh sdiu asdfb dsfg safb aljfh aisdyfg jahsfb jhdsgaf ias dfbsadhfg adfyg badfb jajsfh</p>
{{/each}}