/* NOT IN USE RIGHT NOW - KEEPING FOR FUTURE DEVELOPMENT FOR CHARTS*/

code{
  background: #050505;
  color: #e63f87;
  margin-top: 0;
  max-width: ;
  width: 95%;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}
*/.yummy-pie{
  position: relative;
}
.pie{
  width: 100%;
  transform: rotate(-90deg);
}
.pie-stuffing {
  stroke-linecap:round;
  stroke-miterlimit:1.5; 
  fill:none;
  stroke:#2cbd68;
  stroke-width:7px;
}
.pie-trail {
  fill:none;
  stroke:#050505;
  stroke-width:5px;
}
.counter{
  position: absolute;
  padding-left: .3ch;
  left: 0;
  top: calc(50% - 3.1rem);*/
  
  text-align: center;
  font-size: 4rem;
  width: 100%;
  color:#3fe687;
  font-family: Oswald, Sans Serif;
}


