body{
    margin: 0px
}

h1{
    color: #abdc3b;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 20px;


}
#exampleModalLabel{
  font-size: 22px
}

#found-heroimage{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

nav{
  height: 0px
}

#campain-name{
    color: #00B9AE;
    font-size: 30px;
    margin-bottom: 8px

}

#union-header{
    font-size: 50px;
    color: black
}

.empolyer-body{
    color: #5d5d81
}
.empolyer-body-api{
    color: black;
    font-size: 14px;
    line-height: 22px
}

#api-text-header{
 color: black
}

#goals{
  background-color: black;
  width: 100%;
  top: 1750px;
  height: 300px;

}

.biline {
    color: white;
    font-size: 16px

}
#org-found{
    align-content: center;
    width: 300px;
    height: auto;


}

#lets-start{
    align-content: center;
    width: 300px;
    height: auto;
}

#header-text{
  font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}
@media only screen and (max-width: 900px) {
    #header-text {
    font-size: 40px
    }
}

@media only screen and (max-width: 500px) {
    #header-text {
    font-size: 15px
    }
}

#arrow-down{
  font-size: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}


.icon{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px
}

.jumbotron{
background-color: black;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
  
}



#hero-image{
    background-image: url("../images/13215_labor_union_bw_ap_328.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
  
}
/*------------------------FOUND PAGE SECTION 2------------------*/
#api-heroimage{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
}

#api-content{
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 170px;
  background-color: #555555a6;
/*  border-radius: 5px
*/
}


#api-text{
  font-size: 50px;
  margin-left: 0px;
  padding-left: 0px;
  line-height: 45px;
  color: white;
padding-top: 450px;

}


#api-text-header{
  font-size: 20px;
  color: white;
  font-weight: bold;
  line-height: 26px
}

.api-messagetocolleagues{
  color: white
}

h3{
 font-size: 20px;
  color: #abdc3b
}

/*------------------------FOUND PAGE SECTION 2 END------------------*/

/*------------------------NEW CAMPAIGN PAGE SECTION 1------------------*/
#newcamp-heroimage{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

#newcam-headertext{
  font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

#biline-bodytext{
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*------------------------NEW CAMPAIGN PAGE SECTION 1------------------*/
#middle-section{
  width: 100%;

}

#second-image{
  width: 1480px;
  padding: 0px;
  margin-left: 0px;
  position: absolute;
  top: -60px;

}

.container{
  margin: 0px;
  padding: 0px;
  z-index: 2
}

#section-three{
    background-image: url("../images/strike_medium_image.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.black-header{
    background-color: black
    height: 100px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px
}


.small-logo{
    width: 150px;
    height: auto;

}

#title-text{
  font-size: 70px;
  margin-left: 50px;
  padding-left: 80px;
  line-height: 60px
}


/*#title-text-api{
font-size: 50px;
  margin-left: 0px;
  padding-left: 0px;
  line-height: 45px;
 position: absolute;
    top: 80%;
    left: 50%;


}*/

#sidebar-info{
    background-color: #abdc3b;
    margin-top: 20px;
    float: left
    margin-right: 30px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-left:30px;
    color: white

}



#side-pic{
	width: 100%;
	height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;


}

#description{
    padding-top: 60px;
    padding-bottom: 50px
}

#header-button {
    color: #fff;
    background-color: #abdc3b,
    border-color: #abdc3b;
}


.btn-green {
    background-color: #abdc3b;
    color: #fff;
    border-radius: 3px;
}
.btn-green:focus,
.btn-green:hover {
    background-color: #18a689;
    color: #fff;
}
.panel-footer {
    padding: 0 15px;
    border: none;
    text-align: right;
    background-color: #fff;
}

#green-text{
    color: #abdc3b
}

#header-button{
    border: solid; 
    background: #00ff0100;
    color: #abdc3b;
    height:50px;
    width: 300px;
    margin-top:30px;
    font-size: 15px
}

hr{
    color: black;
    width: 30%;

}

p{
    font-size: 15px

}

#circle {
    width: 300px;
    height: 300px;
    background: black;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
}


#found-body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #abdc3b;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #abdc3b;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}